body { 
  background: url(img/); 
  background-size: cover; 

  padding-top: 30px; 
  padding-left: 100px; 
  padding-right: 100px; 
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  background-color: (1612260596_133-p-neonovii-fon-fioletovogo-tsveta-165.jpg); 
} 
